.container
  .row
    .col-md-8
      %h1
        = get_view_text('h1')
      %br/
      %br/
      %p Open source project illustrating a basic web application using Rails 4.2, Ruby 2, Devise and Bootstrap 4.
      %p
        The source code can be found on github.com:
        %a.btn.btn-link{href: 'https://github.com/jehughes/rails4-example', target: '_blank'}
          %img{src: asset_path('GitHub-Mark-20px.png'), alt: 'Github.com'}
          jehughes/rails4-example
      %p
        = t('private.welcome_html', default: '')
    - unless current_user
      .col-md-4
        = render 'dashboard/partials/login_form'
  .row
    .col-md-12
      %br/
      %br/
      %br/
      %b Gem versions:
      = render 'dashboard/partials/listgems', lists_of_gems: @lists_of_gems
