%h1
  = get_view_text('h1')
  = %Q{ <span class='mini-red'>(development)</span>}.html_safe if Rails.env == 'development'
.container
  .row
    %p
      %br/
      %br/
    %p Open source project illustrating a basic web application using Rails 4.0, Ruby 2.0, Devise and Twitter Bootstrap.
    %p
      The source code can be found on github.com:
      %a.btn.btn-link{:href => "https://github.com/jehughes/rails4-example", :target => "_blank"}
        %img{:src => asset_path('GitHub-Mark-20px.png')}
        jehughes/rails4-example
    %p Please sign-up and have a look around. Or try "jane", "123123".
  .row
    %br/
    %b Gem versions:
  = render :partial => 'dashboard/partials/listgems'