@import 'bootstrap_config';

.fullpage-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fullpage-content {
  flex: 1;
}

.narrow-well {
  margin: 0 auto;
  max-width: 1240px;
  padding-top: 60px; // navbar space
}

footer {
  background-color: lighten($midnight-blue, 70%);
  color: $gray-text;
  margin-top: 1rem;
  padding: 2rem 1.5rem;
}

.footer-link {
  color: var(--gray-dark);
}

h1,
.h1 {
  font-size: 2.1rem;
}

.col-form-label-sm {
  &.devise {
    color: $nephritis;
    font-weight: bold;
    padding-right: 0;
    white-space: nowrap;

    &.normal {
      font-weight: normal;
      padding-right: .75rem;

      &.small {
        font-size: 90%;
      }
    }
  }
}

.help-text {
  &.devise {
    color: $nephritis;
    font: 80% Arial, sans-serif;
    font-style: italic;
  }
}

.small-text {
  font: 85% Arial, sans-serif;
  font-style: italic;
}

.round-box {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid $black;
  border-radius: 20px;

  &.devise {
    border-color: $nephritis;
    margin-top: 20px;
  }
}

hr {
  &.devise {
    border-color: $nephritis;
    margin-top: 0;
    width: 80%;
  }

  &.green {
    border-color: $nephritis;
  }
}

.card-title {
  &.devise {
    border-bottom: 1px solid $nephritis;
    color: $nephritis;
    padding-bottom: 15px;
  }
}

.modal-title {
  &.devise {
    color: $nephritis;
  }
}

.card-footer {
  &.devise {
    background-color: $white;
    border-top: 1px solid $nephritis;
    color: $nephritis;
    padding: none;
  }
}

a,
a:hover,
a:active {
  &.devise-shared {
    font-size: 90%;
  }
}

.form-group {
  &.devise {
    margin-bottom: .25rem;
  }
}

.nowrap {
  white-space: nowrap;
}
