%p Welcome #{@resource.username},
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%p If this is a new account, you will be asked to set your password once the email address is confirmed.